html,
body {
  margin: 0;
  height: 100%;
  background: #e2f3ff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.inputsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 670px;
}

.box,
.box2 {
  display: flex;
  flex-direction: column;
}

.box input,
.box2 input {
  padding: 10px 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 16px;
  width: 250px;
}

.box2 input {
  width: 180px;
}

.box input::placeholder,
.box2 input::placeholder {
  color: lightgray;
  font-size: 14px;
}

.buttonAdd {
  padding: 12px 25px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background: #79caab;
  cursor: pointer;
}

.sum {
  text-align: end;
  width: 670px;
  font-size: 1.4rem;
}

.contentBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 670px;
}

img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

p {
  font-size: 1.4rem;
}

.nameCompany {
  width: 250px;
}

.iconBox {
  display: flex;
  justify-content: space-between;
  width: 60px;
}