html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100%;
  background: #e2f3ff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 42rem;
}

.inputsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.box,
.box2 {
  display: flex;
  flex-direction: column;
}

.box input,
.box2 input {
  padding: 10px 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 1rem;
  width: 100%;
}

.box input::placeholder,
.box2 input::placeholder {
  color: lightgray;
  font-size: 14px;
}

.buttonAdd {
  padding: 12px 25px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  background: #79caab;
  cursor: pointer;
}

.sum {
  text-align: end;
  width: 100%;
  font-size: 1.4rem;
}

.contentPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

p {
  font-size: 1.4rem;
  cursor: pointer;
}

.nameCompany {
  overflow-wrap: anywhere;
  width: 39%;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.dateValue {
  width: 43%;
}

.iconBox {
  display: flex;
  justify-content: space-between;
}

.displayNone {
  display: none;
}

.editInputName,
.editInputDate,
.editInputMoney {
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 1rem;
  width: 14rem;
}

.editInputDate {
  padding: 8px 10px;
  width: 9.5rem;
}

.editInputMoney {
  width: 6rem;
}

@media (max-width: 700px) {
  .main {
    width: 75%;
  }

  .inputsContainer {
    flex-wrap: wrap;
    width: 100%;
  }

  .box,
  .buttonAdd,
  .dateValue {
    width: 100%;
  }

  .box2 {
    margin: 15px 0;
    width: 100%;
  }

  .box input,
  .box2 input {
    width: auto;
  }

  .contentBox {
    margin-bottom: 40px;
  }

  .block {
    flex-direction: column;
    align-items: flex-end;
    width: 37%;
  }

  .block p {
    margin: 0 0 10px;
  }

  .editInputName {
    width: 40%;
    margin: 0;
  }

  .editInputDate,
  .editInputMoney {
    width: 100%;
    margin: 5px 0;
  }
}